server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: account-service
              uri: http://localhost:8081
              predicates:
                - Path=/accounts/**
            - id: card-service
              uri: http://localhost:8083
              predicates:
                - Path=/cards/**
            - id: loans-service
              uri: http://localhost:8082
              predicates:
                - Path=/loans/**
